<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dou.renyu.dao.MoviePictureDao">
	<resultMap type = "MoviePicture" id = "selectMoviePictureByMid">
		 <id property = "mpid" column = "mpid"/>
		 <result property = "mppath" column = "mppath" />
		 <result property = "mid" column = "mid" />
	</resultMap>
  	<insert id="insertMovivePicture" parameterType="MoviePicture">
  		insert into moviePicture(mpid,mppath,mid) values(#{mpid},#{mppath},#{mid})
  	</insert>
  	
  	<select id="selectMoviePictureByMid" resultMap="selectMoviePictureByMid">
  		select * from moviepicture where mid =#{mid}
  	</select>
</mapper>